[submodule "Tools"]
	path = Tools
	url = https://github.com/Hana-ame/Tools.git
	branch = go
[submodule "mastodon-api-parser"]
	path = mastodon-api-parser
	url = git@github.com:Hana-ame/mastodon-api-parser.git
