[submodule "Tools"]
	path = Tools
	url = https://github.com/Hana-ame/Tools.git
	branch = go
[submodule "webfinger"]
	path = webfinger
	url = git@github.com:Hana-ame/fedi-antenna.git
	branch = back/webfinger
[submodule "core"]
	path = core
	url = git@github.com:Hana-ame/fedi-antenna.git
	branch = back/core
